p {
 font-family:'Roboto';
 color:white;
}

#out {
     font-size:24px;
    }
    
    #link:hover {
     cursor:pointer;
     text-decoration:underline;
    }
    .option {
      border:2px solid black;
      border-radius:50px;
      cursor:pointer;
      width:100;
      height:100;
    }
